
h1 {color:red;}
h2 {color:green;}

.link {font-size: 30px;
       text-align: center;
}
     button {
       background-color: yellow;
       height: 38px;
       width: 85px;
       border-radius: 2px;
       cursor: pointer;
       border: none;
       color: white;
            
}


#tom {
      font-size: 20px;
      color: red;
  
  
}
